:root {
  --primary-color: #ffa90a;
  --dark-color: #262626;
  --light-color: #ffd793;
  --light-gray: #999999;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: var(--dark-color);
}
